@media screen and (min-width: 480px) and  (max-width: 750px) {
    body{
        background-color:black;
    }
    .main p{
        color: white;
    }
    .text-box p {
        color: white;
    }
}
h1{
    padding: 6px;
    margin: 20px;
    color: darkgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-shadow: red;
}
h2{
    color: wheat;
    font-style: normal;
}
h3{
    color: purple;
}

li,a{
    color: blue;
    text-align: start;
    font-weight: bolder;
}
.important{
    font-weight: bold;
    color: red;
}
img{
    width: 50%;
    height: 50%;
    float: left;
}
.main{
    float: right;
    width: 48%;
    float: right;
}
.text-box{
    padding: 6px;
    margin: 20px;
    float: left;
}